---
BasedOnStyle: LLVM
Language: Cpp
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLine
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
TabWidth: 4
UseTab: ForIndentation
AccessModifierOffset: -4
ColumnLimit: 0
LambdaBodyIndentation: OuterScope
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

...
