bin
build
toolchain
toolchain-hosted
log.txt
mount.pid
debuglog.txt

### C/C++ ###
*.o
*.ao
*.a
*.sp
*.d

### ccls ###
.ccls-cache

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

### CLion + CMake ###
.idea
cmake-build-*

### GDB ###
.gdb_history
